@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,600&family=Rajdhani:wght@500&display=swap');


.App {
  text-align: center;
}

body {
  background-image: url('./images/pexels-miguel-á-padriñán-19670.jpg');
  font-family: 'Rajdhani', sans-serif;
}


/* Photo by Miguel Á. Padriñán from Pexels */





a{
  text-decoration: none;
  color:black;
}



.title-font{

  font-family: 'Genos', sans-serif;
  font-size: 30px;

}

.title-divider{

  display:none;

}




.navbar-property{

  background-color: transparent;
  /* background-image:linear-gradient(#222222, #aaaaaa); */
  border-radius: 15px;
  padding:25px;

}



.logo{


  border:1px solid black;
  width: 20%;
  height: 20%;



}


@media (min-width:768px) {

  
  .title-font{

    
    font-size: 40px;
  
  }

  

}




@media (min-width:1200px) {

  body{

    font-size:large;
  
  }

  .title-font{

    
    font-size: 60px;
  
  }
  
  .title-divider{

    display:initial;
  
  }
  

  .landing-page{

    display:flex;


  }
  

}

