@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,600&family=Rajdhani:wght@500&display=swap');


.App {
  text-align: center;
}

body {
  background-image: url('./images/pexels-miguel-á-padriñán-19670.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Rajdhani', sans-serif;
  font-size:medium;
}


/* Photo by Miguel Á. Padriñán from Pexels */





a{
  text-decoration: none;
  color:black;
}


small{

  color:red;

}


p{


  font-size: 20px;
  margin-top:20px;

}

.title-font{

  font-family: 'Genos', sans-serif;
  font-size: 30px;
  

}

.title-divider{

  display:none;

}




.navbar-property{

  background-color: transparent;
  border-radius: 15px;
  padding:25px;

}



.logo{


  
  width: 45%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;



}


.login-card{

  background: rgba(255,255,255,0.4);
  



}



.btn-custom-primary{


  background-color: Orange;


}


.price-details{

  display:flex;
  justify-content:space-between;



}


.game-details{

 
  margin-top:20px;


}

.game-details-size{

  font-size:20px;

}



.game-details-1{

  overflow: auto;


}

.game-details-3{

  
  overflow: auto;

}


.requirement-contents{

  overflow:auto;


}


.reviews-font{

  text-align: center;
  font-family: 'Genos', sans-serif;
  font-size: 30px;
  

}



@media (min-width:768px) {

  body{

    font-size:medium;
  
  }
  
  .title-font{

    
    font-size: 40px;
  
  }

  .landing-page{

    display:flex;
    margin: 75px;
    justify-content: center;

  }


  .games-details-page{

    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
  }

  .logo{


   
    width: 40%;
    margin-left: initial;
    margin-right: initial;
    text-align: initial
    
  
  
  
  }

  label{

    font-size: 20px;

  }
  
  
  .price-details{

    
    justify-content:space-evenly;
  
  
  
  }


  .game-details{

    display:flex;
    margin-top:30px;


  }


  .game-details-1{

    flex:1;
    margin:10px;
    height: 300px;

  }
  .game-details-2{

    flex:1;
    margin:10px;


  }
  .game-details-3{

    
    flex:1;
    margin:10px;
    height: 300px;

  }

  .game-details-size{

    font-size:25px;
  
  }

  .requirements-line{


    display:none;


  }

  .requirements{

    display:flex;
    justify-content: space-evenly;

  }
  
  .requirement-contents{

    height:300px;
    
  
  }

  .requirements-1{

    flex:1;
    margin-right:20px;

  }

  

  .requirements-2{

    flex:1;
    margin-left:20px;

  }


  .reviews-font{

    
    font-size: 40px;
    
  
  }


}




@media (min-width:1200px) {

  body{

    font-size:large;
  
  }

  .title-font{

    
    font-size: 60px;
  
  }
  
  .title-divider{

    display:initial;
  
  }
  
  label{

    font-size: 30px;

  }

  .logo{


   
    width: 26%;
   
    
  
  
  
  }
  
  .game-details-1{

    flex:2;
    margin:30px;
    height: 600px;

  }
  .game-details-2{

    flex:2;
    margin:30px;


  }
  .game-details-3{

    
    flex:1;
    margin:30px;
    height: 600px;
  }


  .game-details-size{

    font-size:25px;
  
  }

  .requirement-contents{
    
    height:400px;
    
  
  }

  .reviews-font{

    
    font-size: 50px;
    
  
  }

}

