@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,600&family=Rajdhani:wght@500&display=swap');




body {
  background-color: black;
  font-family: 'Rajdhani', sans-serif;
  font-size: medium;
}


a{
  text-decoration: none;
  color:white;
}


.a-nav{
  text-decoration: none;
  color:#887AFF;
}

.a-nav:hover{
  color:white;
}


p{


  margin-top: 20px;

}


.laptop-pad-main-logo{
  width:350px;
}

.navlogo{
  width:175px;
  border-radius:8px;
}


.text-label{
  font-size: 17px;
}

.text-input{
  font-size: 17px;

}


.landing-page-form{
  margin-top:35%;
}

.landing-page-logo{
  display: none;
}


.login-page-container-positioning{
  margin-top:50%;
}

.signup-page-container-positioning{
  margin-top:35%;
}

.container-positioning{
  margin-top:17%;
}

.text-label-color{
  color:#887AFF;
}


@media (min-width:768px) {

  body {
    font-size: large;
  }

  .landing-page-logo{
    display:hidden;
  }

  .landing-page-card{
    width:700px;
    /* margin: auto; */
  }

  .login-page-container-positioning{
    margin-top:14%;
  }

  .signup-page-container-positioning{
    margin-top:27%;
  }

  .container-positioning{
    margin-top:10%;
  }
  
  


}

@media (min-width:1200px) {

  body {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.753) 0%, rgba(0, 0, 0, 0) 59%, rgb(0, 0, 0) 100%), url("https://upload.wikimedia.org/wikipedia/commons/2/29/Royal_tank_museum_-_tank_show.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-color: white;

  }

  .landing-page-logo{
    display:block;
  }
  
  .landing-page-form{
    margin-top:10%;
  }

  .landing-page-card{
    width:500px;

  }

  .laptop-pad-main-logo{
    width:400px;
  }
  
  .navlogo{
    width:200px;
  }


  .signup-page-container-positioning{
    margin-top:8%;
  }

  
  .container-positioning{
    margin-top:10%;
  }

  .container-width{
    width:80%;
  }

}


@media (min-width:1600px) {

 

  
  
  .landing-page-form{
    margin-top:15%;
  }

  .landing-page-card{
    width:700px;
    
  }

  

  .navlogo{
    width:250px;
  }

  

  .container-positioning{
    margin-top:5%;
  }

  .container-width{
    width:60%;
  }

}


